@import './helpers/variables';
@import './helpers/reset';
@import './helpers/fonts';
@import './components/social_menu';
@import './components/anchor_menu';
@import './components/footer';
@import './content/about';
@import './content/learning';
@import './content/practice';
@import './content/referees';
@import './content/contact';

/* Basic Tags */

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Chivo';
    font-size: 20px;
    font-style: normal;
}

h1 {
    font-family: 'Archivo';
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;
}

h2 {
    font-size: 45px;
    font-weight: bold;
}

h3 {
    font-size: 20px;
    font-weight: bold;
}

h4 {
    font-size: 20px;
    font-weight: bold;
    color: $yellow;
}

p {
    font-size: 20px;
    line-height: 25px;
}

strong {
    font-weight: bold;
}
small {
    font-size: 16px;
    line-height: 20px;
}

box-icon {
    fill: $yellow;
}

header {
    margin-bottom: 50px;
    figcaption {
        color: $yellow;
        font-family: 'JetBrainsMono';
        font-size: 16px;
        margin-top: 5px;
    }
}

::selection {
    background: $yellow;
    color: black;
    text-shadow: none;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    -o-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
    &::before {
        background-color: $yellow;
        bottom: -3px;
        content: ' ';
        height: 2px;
        left: 0;
        position: absolute;
        -o-transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        transition: all 0.1s cubic-bezier(0.4, 0, 0.2, 1);
        visibility: visible;
        width: 100%;
    }
    &:hover {
        &::before {
            width: 0%;
        }
    }
}

.location {
    display: flex;
    align-items: center;
    color: $anthracite;
    span {
        margin-left: 5px;
    }
}

@media only screen and (max-width: 850px) {
    body {
        font-size: 16px;
    }
    h1 {
        font-size: 40px;
        line-height: 50px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 16px;
    }

    h4 {
        font-size: 16px;
    }
    p {
        font-size: 16px;
        line-height: 20px;
    }
    small {
        font-size: 12px;
    }
    header figcaption {
        font-size: 14px;
    }
}
