@import './helpers/variables';
@import './helpers/reset';
@import './helpers/fonts';
@import './components/social_menu';
@import './components/anchor_menu';
@import './content/about';
@import './content/education';
@import './content/experience';
@import './content/projects';
@import './content/skills';
@import './content/referees';
@import './content/contact';

/* Basic Classes */

.colored--yellow {
    color: $yellow;
}

.colored--anthracite {
    color: $anthracite;
}

.section__header {
    text-align: center;
}

.section {
    margin-top: 250px;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
    visibility: hidden;
}

.unfocused {
    opacity: 0.5;
    -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

/* Basic Tags */

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Chivo';
    font-size: 20px;
    font-style: normal;
}

h1 {
    @include heading-font;
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;
}

h2 {
    @include heading-font;
    font-size: 45px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: $yellow;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: $yellow;
}

h5 {
    font-size: 20px;
    font-weight: bold;
    color: $yellow;
}

p {
    font-size: 20px;
    line-height: 35px;
}

strong {
    font-weight: bold;
}
small {
    font-size: 16px;
    line-height: 19px;
}

figcaption {
    @include legend-font;
}

box-icon {
    fill: $yellow;
}

.section__header figcaption {
    font-size: 24px;
    color: $yellow;
    margin-bottom: 5px;
}

::selection {
    background: $yellow;
    color: black;
    text-shadow: none;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    &::before {
        background-color: $yellow;
        bottom: -3px;
        content: ' ';
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.1s ease-in-out 0s;
        visibility: visible;
        width: 100%;
    }
    &:hover {
        &::before {
            width: 0%;
        }
    }
}
.card {
    padding: 50px;
    background: $darkGray;
    cursor: pointer;
    .card__subtitle {
        font-size: 30px;
    }
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
        transform: scale(0.95);
        background: none;
    }
}

.location {
    display: flex;
    align-items: center;
    color: $anthracite;
    span {
        margin-left: 5px;
    }
}
#footer {
    padding: 20px 0px;
    line-height: 1.2em;
    text-align: center;
}

/* Working Area */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#about {
    display: flex;
    flex-wrap: wrap;
    min-height: 100vh;
    overflow: hidden;
    -o-transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: opacity 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    .about__bio {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;

        .container {
            max-width: 570px;
            p {
                font-size: 24px;
                margin-top: 50px;
            }
            ul {
                margin-top: 50px;
                li {
                    display: flex;
                    align-items: center;
                    span {
                        margin-left: 10px;
                    }
                    &:not(:first-child) {
                        margin-top: 15px;
                    }
                }
            }
        }
    }
    .about__image {
        width: 50%;
        background-color: #e0b842;
        background-image: url('../images/benjaminhaeberli.png');
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        color: red;
        cursor: pointer;
        -o-transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        transition: transform 0.5s cubic-bezier(0.19, 1, 0.22, 1);
        &:hover {
            transform: translatex(35px);
            background-color: #e3ded8;
            background-image: url('../images/benjaminhaeberli_hover.png');
        }
    }
}

@media only screen and (max-width: 1670px) {
    #projects {
        .projects_container {
            .projects__cards {
                justify-content: center;
            }
        }
    }
}

@media only screen and (max-width: 1366px) {
    .section {
        margin-top: 150px;
    }

    #about {
        .about__bio {
            order: 2;
            margin-top: 100px;
            width: 100%;
            .container {
                max-width: 570px;
                margin: 0px 25px;
                h1 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    li {
                        margin: 15px auto 0px auto;
                    }
                }
            }
        }
        .about__image {
            width: 100%;
            height: 600px;
            background-image: url('../images/benjaminhaeberli_hover.png');
            background-color: #e3ded8;
            cursor: default;
            &:hover {
                transform: none;
            }
        }
    }

    #education {
        .education__container {
            .education__items {
                margin-top: 100px;
            }
        }
    }

    #referees {
        .referees__container {
            @include section__container;
            .referees__cards {
                margin-top: 75px;
            }
        }
    }

    #experience {
        .experience__container {
            .experience__items {
                margin-top: 100px;
                .experience__item {
                    &::before {
                        display: none;
                        visibility: hidden;
                    }
                    .experience__timeline {
                        display: none;
                        visibility: hidden;
                    }

                    a.experience__details {
                        margin-left: 0px;
                        .card.experience__job {
                            .job__date {
                                display: block;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1149px) {
    #projects {
        .projects_container {
            .projects__cards {
                margin-top: 100px;
            }
        }
    }
}

@media only screen and (max-width: 810px) {
    #experience {
        .experience__container {
            @include section__container;
            .experience__items {
                .experience__item {
                    width: 100%;
                    a.experience__details {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 760px) {
    #skills {
        .skills__container {
            .skills__columns {
                gap: 50px;
                justify-content: center;
                text-align: center;
            }
        }
    }
}

@media only screen and (max-width: 750px) {
    #projects {
        .projects_container {
            .projects__cards {
                .card.projects__project {
                    width: 370px;
                }
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    #referees {
        .referees__container {
            .referees__cards {
                flex-direction: column;
                text-align: center;
                gap: 50px;
            }
        }
    }
}

@media only screen and (max-width: 470px) {
    #about {
        .about__bio {
            /*
            margin-top: 100px;
            width: 100%;
            .container {
                max-width: 570px;
                margin: 0px 25px;
                h1 {
                    text-align: center;
                }
                p {
                    text-align: center;
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    li {
                        margin: 15px auto 0px auto;
                    }
                }
            } */
        }
        .about__image {
            height: 400px;
        }
    }
}
