$anthracite: #686868;
$yellow: #f9c722;
$darkGray: #020202;

@mixin section__header {
    text-align: center;
    figcaption {
        font-size: 24px;
        color: $yellow;
        margin-bottom: 5px;
    }
}

@mixin section__container {
    max-width: 1520px;
    margin: auto;
}

@mixin heading-font {
    font-family: 'Archivo';
}

@mixin legend-font {
    font-family: 'JetBrainsMono';
}

@mixin nobefore {
    &::before {
        display: none;
    }
}
