nav#social {
    margin-bottom: 25px;
    a {
        @include nobefore;
        &:hover {
            transform: translateX(7px);
        }
        box-icon {
            fill: white;
        }
        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}
