@import './helpers/variables';
@import './helpers/reset';
@import './helpers/fonts';
@import './content/about';
@import './content/experience';

@mixin heading-font {
    font-family: 'Archivo';
}

/* Basic Classes */

.colored--yellow {
    color: $yellow;
}

.colored--anthracite {
    color: $anthracite;
}

.section__header {
    text-align: center;
}

.unfocused {
    opacity: 0.5;
}

/* Basic Tags */

body {
    background-color: rgba(0, 0, 0, 0.97);
    background-image: url('../images/background-tinymin.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Chivo';
    font-size: 20px;
    font-style: normal;
}

section {
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

h1 {
    @include heading-font;
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;
}

h2 {
    @include heading-font;
    font-size: 45px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 35px;
}

strong {
    font-weight: bold;
}

small {
    font-size: 16px;
    line-height: 19px;
}

figcaption {
    font-family: 'JetBrainsMono';
    font-weight: bold;
}

.section__header figcaption {
    font-size: 24px;
    color: $yellow;
    margin-bottom: 5px;
}

::selection {
    background: $yellow;
    color: black;
    text-shadow: none;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    &::before {
        background-color: $yellow;
        bottom: -3px;
        content: ' ';
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.1s ease-in-out 0s;
        visibility: visible;
        width: 100%;
    }
}

a:hover {
    &::before {
        width: 0%;
    }
}

#projects {
    @include section;
    margin-bottom: 50vh;
    .container {
        @include section__container;
        .projects__cards {
            margin-top: 120px;
            display: flex;
            flex-direction: column;
            .card {
                width: 1120px;
                background: rgba(0, 0, 0, 0.4);
                display: flex;
                &:not(:first-child) {
                    margin-top: 100px;
                }
                &:nth-child(2n) {
                    align-self: end;
                }
                div {
                    width: 50%;
                    &.details {
                        padding: 60px 60px;
                        h3 {
                            color: $yellow;
                        }
                        .url {
                            color: $anthracite;
                            font-size: 24px;
                        }
                        .description {
                            margin-top: 25px;
                        }
                        .languages {
                            margin-top: 25px;
                            color: $anthracite;
                        }
                    }
                    &.image {
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        }
    }
}
