@import './helpers/variables';
@import './helpers/reset';
@import './helpers/fonts';
@import './components/social_menu';
@import './components/anchor_menu';
@import './content/about';
@import './content/experience';
@import './content/projects';

/* Basic Classes */

.colored--yellow {
    color: $yellow;
}

.colored--anthracite {
    color: $anthracite;
}

.section__header {
    text-align: center;
}

.section {
    margin-top: 250px;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.unfocused {
    opacity: 0.5;
}

/* Basic Tags */

body {
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Chivo';
    font-size: 20px;
    font-style: normal;
}

h1 {
    @include heading-font;
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;
}

h2 {
    @include heading-font;
    font-size: 45px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
    color: $yellow;
}

h4 {
    font-size: 24px;
    font-weight: bold;
    color: $yellow;
}

p {
    font-size: 20px;
    line-height: 35px;
}

strong {
    font-weight: bold;
}
small {
    font-size: 16px;
    line-height: 19px;
}

figcaption {
    @include legend-font;
}

box-icon {
    fill: $yellow;
}

.section__header figcaption {
    font-size: 24px;
    color: $yellow;
    margin-bottom: 5px;
}

::selection {
    background: $yellow;
    color: black;
    text-shadow: none;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    &::before {
        background-color: $yellow;
        bottom: -3px;
        content: ' ';
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.1s ease-in-out 0s;
        visibility: visible;
        width: 100%;
    }
    &:hover {
        &::before {
            width: 0%;
        }
    }
}
#education {
    margin-bottom: 200px;
    .education__container {
        @include section__container;
        .education__items {
            display: flex;
            margin-top: 160px;
            .card {
                transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                &:hover {
                    transform: scale(0.95);
                    background: none;
                }
            }
            .education__studies {
                margin: 0px 100px 0px 0px;
                .card.education__study {
                    width: 400px;
                    .study__time {
                        color: $anthracite;
                        margin-bottom: 30px;
                    }
                    .study__name {
                        margin-bottom: 10px;
                    }
                    .study__description {
                        line-height: 25px;
                        margin-bottom: 30px;
                    }
                }
            }
            .education__courses {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .card.education__course {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 350px;
                    height: 100px;
                    padding: 25px;
                    .course__time {
                        color: $anthracite;
                    }
                }
            }
        }
    }
}

.card {
    padding: 50px;
    background: $darkGray;
    cursor: pointer;
    .card__subtitle {
        font-size: 30px;
    }
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    &:hover {
        transform: scale(0.95);
        background: none;
    }
}

.location {
    display: flex;
    align-items: center;
    color: $anthracite;
    span {
        margin-left: 5px;
    }
}
