@import './helpers/variables';
@import './helpers/reset';
@import './helpers/fonts';
@import './components/social_menu';
@import './components/anchor_menu';
@import './content/about';
@import './content/experience';
@import './content/projects';

/* Basic Classes */

.colored--yellow {
    color: $yellow;
}

.colored--anthracite {
    color: $anthracite;
}

.section__header {
    text-align: center;
}

.unfocused {
    opacity: 0.5;
}

/* Basic Tags */

body {
    background-color: rgba(0, 0, 0, 1);
    background-image: url('../images/background-tinymin.png');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Chivo';
    font-size: 20px;
    font-style: normal;
}

section {
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

h1 {
    @include heading-font;
    font-size: 55px;
    line-height: 65px;
    font-weight: bold;
}

h2 {
    @include heading-font;
    font-size: 45px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    font-weight: bold;
}

p {
    font-size: 20px;
    line-height: 35px;
}

strong {
    font-weight: bold;
}

small {
    font-size: 16px;
    line-height: 19px;
}

figcaption {
    @include legend-font;
    font-weight: bold;
}

.section__header figcaption {
    font-size: 24px;
    color: $yellow;
    margin-bottom: 5px;
}

::selection {
    background: $yellow;
    color: black;
    text-shadow: none;
}

a {
    color: white;
    text-decoration: none;
    position: relative;
    -o-transition: all 0.05s ease-in-out;
    transition: all 0.05s ease-in-out;
    &::before {
        background-color: $yellow;
        bottom: -3px;
        content: ' ';
        height: 2px;
        left: 0;
        position: absolute;
        transition: all 0.1s ease-in-out 0s;
        visibility: visible;
        width: 100%;
    }
}

a:hover {
    &::before {
        width: 0%;
    }
}

@mixin experience__cards {
    display: flex;
    justify-content: space-between;
}
@mixin experience__card {
    padding: 25px;
    width: 470px;
    box-sizing: border-box;
}

#experience {
    @include section;
    .container {
        @include section__container;
        .experience__cards {
            @include experience__cards;
            margin-top: 100px;
            .card {
                @include experience__card;
                background: rgba(0, 0, 0, 0.4);
                .header {
                    display: flex;
                    justify-content: space-between;
                    color: $anthracite;
                }
                h3 {
                    margin-top: 35px;
                    color: $yellow;
                }
                .company {
                    font-size: 24px;
                }
                .location {
                    margin-top: 30px;
                    display: flex;
                    align-items: center;
                    color: $anthracite;
                    span {
                        margin-left: 5px;
                    }
                }
            }
        }
        .experience__details {
            .cards {
                @include experience__cards;
                .card {
                    @include experience__card;
                    font-size: 16px;
                    line-height: 20px;
                }
            }
            .btn-plus {
                margin-top: 20px;
                text-align: center;
                p {
                    font-size: 16px;
                    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                }
                box-icon {
                    fill: white;
                    border-radius: 20px;
                    -webkit-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
                    &:hover {
                        border-radius: 20px;
                        transform: translateY(-5px);
                        cursor: pointer;
                        & + p {
                            opacity: 0;
                        }
                    }
                }
            }
        }
    }
}
