#contact {
    padding: 200px 0px;
    .container {
        display: block;
        margin: auto;
        padding: 75px;
        max-width: 950px;
        border: 4px solid $yellow;
        -o-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
        header {
            text-align: center;
        }
        .contact {
            margin: auto;
            text-align: center;
            margin-top: 75px;
            max-width: 800px;
            p {
                line-height: 35px;
            }
            .email {
                margin-top: 20px;
                color: $yellow;
            }
        }
        &:hover {
            background-color: #e1b943;
            border: 4px solid rgba(0, 0, 0, 0);
            color: black;
            -o-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
            header figcaption {
                color: black;
            }
            .contact .email {
                a {
                    color: black;
                    &::before {
                        background-color: black;
                    }
                }
            }
        }
    }
}
