#contact {
    .contact__container {
        @include section__container;
        .contact__content {
            margin: auto;
            text-align: center;
            margin-top: 75px;
            max-width: 800px;
            .contact__email {
                margin-top: 20px;
            }
        }
    }
}
