#projects {
    .projects_container {
        @include section__container;
        .projects__cards {
            margin-top: 160px;
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            justify-content: space-between;

            .card.projects__project {
                @include nobefore;
                padding: 50px;
                width: 380px;
                cursor: pointer;
                .project__header {
                    display: flex;
                    justify-content: space-between;
                }
                h3 {
                    margin-top: 30px;
                    color: white;
                }
                .project__description {
                    margin-top: 25px;
                }
                .project__languages {
                    margin-top: 25px;
                    color: $anthracite;
                }
            }
        }
    }
}
