#referees {
    padding: 100px 0px;
    background-color: $darkGray;
    .container {
        @include container;
        header {
            text-align: center;
        }
        .referees {
            margin-top: 100px;
            display: flex;
            flex-wrap: wrap;
            gap: 75px;
            justify-content: center;
            .referee {
                h3 {
                    color: $yellow;
                }
                h3,
                p {
                    line-height: 1.25em;
                }
                a {
                    @include nobefore;
                    color: $anthracite;
                    &:hover {
                        color: $yellow;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1450px) {
    #referees {
        padding: 100px;
        .container {
            margin: auto;
            .referees {
                justify-content: space-between;
            }
        }
    }
}

@media only screen and (max-width: 1290px) {
    #referees {
        .container {
            max-width: 680px;
            article {
                width: 100%;
            }
        }
    }
}
