$anthracite: #686868;
$yellow: #f9c722;
$darkGray: #070707;

/* Mixins */

@mixin container {
    max-width: 1520px;
    /* margin: auto; */
    /* @media only screen and (max-width: 1520px) {
        max-width: none;
    }
    @media only screen and (max-width: 1024px) {
    } */
}

@mixin nobefore {
    &::before {
        display: none;
    }
}

/* Classes */

.colored--yellow {
    color: $yellow;
}

.colored--anthracite {
    color: $anthracite;
}

.section__header {
    text-align: center;
}

.section {
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

/* .hidden {
    display: none;
    visibility: hidden;
}

.unfocused {
    opacity: 0.5;
    -o-transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
} */
